html{
    background: rgba(255, 255, 255, 1);
}
body{
    font-size: 50px;
    
}
.header{
    color: white;
    text-align: left;
    letter-spacing: 10px;
    font-family: "Verdana", Arial, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}
.sekected{
    color: white;
}