body{
    font-size: 50px;
}
.header{
    color: darkcyan;
    text-align: left;
    letter-spacing: 10px;
    font-family: "Verdana", Arial, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}